@media screen and (min-width: 1200px) {
  .container {
    width: 1300px;
    margin: auto;
    /* display: block; */

    padding: 20px 30px;
    margin: 20px auto;
    background-color: blue;
  }
  section {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  h3 {
    padding-bottom: 20px;
  }
  /* xác định vị trí các khối */
  .container .row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }
  #scopes {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #primary {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #timeline {
    grid-column: 3/4;
    grid-row: -1 / -3;
  }
  /* icon các khối */
  .pr-icon {
    margin: 20px;
  }
  /* khối goals */

  /* khối time line */
  #timeline span {
    margin: 20px;
  }
  .Tb1 {
    align-items: center;
  }
}
